<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>*</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>IceCube</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryDeveloper</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>mavenCommand</key>
		<string>clean install</string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string>Vstup je seznam souborů (pom.xml).</string>
		<key>AMDNote</key>
		<string>Akce pro svůj vyžaduje nainstalovaný Maven.</string>
		<key>AMDOptions</key>
		<string>Cílový příkaz lze nastavit v poli Maven bez názvu programu (např. "clean install").</string>
		<key>AMDRelatedActions</key>
		<string></string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string>Výstupem akce je seznam POM souborů, které akce úspěšně provedla.</string>
		<key>AMDSummary</key>
		<string>Provede zadaný Maven příkaz pro zvolený soubor nebo soubory.</string>
		<key>AMDWebsite</key>
		<string>https://medium.com/@mboucek/</string>
	</dict>
	<key>AMIconName</key>
	<string>Icons-Land-Weather-Ice</string>
	<key>AMKeywords</key>
	<array>
		<string>Maven</string>
		<string>mvn</string>
		<string>Java</string>
	</array>
	<key>AMName</key>
	<string>IceCubeAction</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>*</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>Level</key>
		<integer>0</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Marian Bouček. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>IceCubeAction</string>
</dict>
</plist>
