<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>IceCube</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryDeveloper</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>errorLogPath</key>
		<string>~/Desktop</string>
		<key>mavenCommand</key>
		<string>clean install</string>
		<key>mavenPath</key>
		<string>/usr/share/maven/bin/mvn</string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string>List of Maven project files (pom.xml).</string>
		<key>AMDNote</key>
		<string>Action requires pre-installed Maven.</string>
		<key>AMDOptions</key>
		<string>Use field &quot;Maven&quot; for setting Maven command. Do not start with prefix &quot;mvn&quot;.
Specify Maven installation path in &quot;Maven&quot; combo box.
If you would like to see error output, choose path in &quot;Error output&quot; combo box.</string>
		<key>AMDRelatedActions</key>
		<string></string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string>Result of action is list of successfully built POM files.</string>
		<key>AMDSummary</key>
		<string>Perform Maven build for selected file(s).</string>
		<key>AMDWebsite</key>
		<string>https://medium.com/@mboucek/</string>
	</dict>
	<key>AMIconName</key>
	<string>AppIcon</string>
	<key>AMKeywords</key>
	<array>
		<string>Maven</string>
		<string>mvn</string>
		<string>Java</string>
	</array>
	<key>AMName</key>
	<string>IceCubeAction</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Level</key>
		<integer>0</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Marian Bouček. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>IceCubeAction</string>
</dict>
</plist>
